@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

html, body, #root, #__next {
  height: 100%;
  margin: 0;
}

.signIn-frame .signIn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signIn-wrapper{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px 0;
  font-style: normal;
  font-weight: 400;
}

.signIn-body{
  width: 512px;
  margin: 0px auto 28px auto;
  padding: 62.12px 99px 48px;
  box-shadow: 0px 4px 24px rgb(0 0 0 / 10%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
}

.signIn-heading {
  text-align: center;
  color: #aaaaaa;
  font-size: 40px;
}

.sideBar {
  height: 100%;
  border-right: 1px solid #aaaaaa;
}

.mainContent{
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
}

.wrapper{
  background: white;
  height: 100vh;
  box-shadow: 0 0 3px rgba(black, 0.33);

  display: grid;
  grid-template-columns: minmax(10px, 240px) minmax(10px, 100%);
  grid-template-rows: min-content 1fr;
}

.small-container{
  max-width: 650px;
  width: 100%;
  border-left: 2px dashed #35d4f4ff;
  border-right: 2px dashed #35d4f4ff;
}

@media (max-width: 600px) {
  .wrapper{
    grid-template-columns: 100%;
    grid-template-rows: min-content 1fr;
  }

  .topNav {

  }

  .sideBar {
    display: none;
  }

  .mainContent {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
