@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

html, body, #root, #__next {
  height: 100%;
  width: 100%;
  position: fixed;
}

.signInWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInTile{
  width: 90%;
  max-width: 540px;
  text-align: center;
  
}

.signIn {

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.mainContent {
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mainContent::-webkit-scrollbar {
  display: none;
}

.wrapper {
  background: white;
  height: 100vh;
  box-shadow: 0 0 3px rgba(black, 0.33);

  display: grid;
  grid-template-columns: minmax(10px, 240px) minmax(10px, 100%);
  grid-template-rows: min-content 1fr;
}

.topNav{}

.small-container{
  max-width: 650px;
  width: 100%;
  border-left: 2px dashed #35d4f4ff;
  border-right: 2px dashed #35d4f4ff;
}

.select1 {
  width: 220px;
}

.calendarCont{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: auto;
}

.schedule-cols{
  margin: 20px;
}

.calendar_inputs {
  width: 140px;
}

.dueDates {
  display: grid;
  grid-template-columns: 2fr 4.5fr 2fr 1.5fr;
}

@media (max-width: 1080px) {
  .schedule-times{
    font-size: .8em;
  }

  .schedule-cols{
    margin: 6px 10px;
  }
}


@media (max-width: 870px) {
  .wrapper{
    grid-template-columns: 100%;
    grid-template-rows: min-content 1fr;
  }

  .topNav {

  }

  .sideBar {
    display: none;
  }

  .mainContent {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

@media (max-width: 630px) {
  .dueDates {
    display: grid;
    grid-template-columns: 9fr 3fr;
  }

  .dateGrid {
    display: grid;
    grid-template-columns: 9fr 3fr;
  }
}

@media (max-width: 400px) {
  .select1 {
    width: 180px;
  }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
